@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Cabin|Lato';
.navbar {
  display: none;
}
.animate {
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}
body {
  background-color: #211A1D;
}
.cover-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/splash2.jpeg");
  background-position: center center;
  background-size: cover;
}
.title {
  font-size: 36px;
  color: #C6D8D3;
  padding: 7px;
}
.icon {
  display: inline-block;
  font-size: 7rem;
  color: #E63946;
  margin-top: 10px;
  margin-bottom: 10px;
}
.skill {
  width: 100%;
}
.cover {
  background: #211A1D;
}
.cover .text-intro {
  font-size: 54px;
  color: #E63946;
  font-family: 'Roboto Mono';
}
.cover .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #E63946;
  font-size: 54px;
  font-family: 'Roboto Mono';
}
.cover p {
  color: #FDF0D5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono';
}
div,
p {
  font-family: 'Roboto Mono';
}
.fa {
  display: inline-block;
  color: #C6D8D3;
}
.btn-danger {
  color: #C6D8D3;
  background-color: #E63946;
  border-color: #d21a28;
}
.btn-danger:focus {
  color: #C6D8D3;
  background-color: #E63946;
  border-color: #d21a28;
}
.btn-danger:hover {
  color: #C6D8D3;
  background-color: #E63946;
  border-color: #d21a28;
}
.flaTimeline {
  border-top: 0;
}
.flaTimeline .title-timeline {
  font-size: 24px;
  color: #E63946;
  padding: inherit;
  font-weight: bold;
}
.flaTimeline .subtitle {
  font-size: 18px;
  color: #211A1D;
  padding: inherit;
}
.flaTimeline .text {
  color: #211A1D;
}
.flaTimeline .date {
  color: #C6D8D3;
  font-size: 18px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .cover .text-intro {
    font-size: 32.4px;
    color: #E63946;
    font-family: 'Roboto Mono';
  }
  .cover .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #E63946;
    font-size: 32.4px;
    font-family: 'Roboto Mono';
  }
  .title,
  h1 {
    font-size: 32.4px;
  }
  .icon {
    display: inline-block;
    font-size: 6rem;
    color: #E63946;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
