@import "variables";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Cabin|Lato';
@tint: rgba(0, 0, 0, 0.3);
@desire: #E63946;
@jet: #3A3335;
@maastricht-blue: #011627;
@jungle-green: #1B2F33;
@papaya-whip: #FDF0D5;
//=================================
@slate-blue: #8075FF;
@eerie-black: #211A1D;
@han-purple: #6320EE;
@magnolia: #F8F0FB;
@pastel-gray: #CAD5CA;
// ===========================
@old-rose: #C97B84;
@colombia-blue: #C6D8D3;
@turquoise: #42F2F7;

.navbar {
  display: none;
}

.animate {
  -webkit-transition: all 0.3s !important;
  transition        : all 0.3s !important;
}

body {
  // padding-top: @navbar-height;
  background-color: @eerie-black;
}

.cover-image {
  background-image   : linear-gradient( @tint, @tint ), url("../img/splash2.jpeg");
  background-position: center center;
  background-size    : cover;
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
}

.banner {
  // background-color: @desire;
}

.title {
  font-size: @font-size-h1;
  color    : @colombia-blue;
  padding  : @padding-base-vertical;
}

.icon {
  // width         : 100%;
  // padding-bottom: 100%;
  display      : inline-block;
  font-size    : 7rem;
  color        : @desire;
  margin-top   : 10px;
  margin-bottom: 10px;
}

.skill {
  width: 100%;
  // padding-bottom  : 100%;
  // background-color: @magnolia;
  // background-image: url("app/img/sponsors/coca-cola.png");
  // background-position: center;
  // background-repeat  : no-repeat;
  // background-size    : contain;
}

.cover {
  background: @eerie-black;

  .text-intro {
    font-size  : @font-size-h1*1.5;
    color      : @desire;
    font-family: 'Roboto Mono';
  }

  .typed-cursor {
    opacity          : 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation   : blink 0.7s infinite;
    animation        : blink 0.7s infinite;
    color            : @desire;
    font-size        : @font-size-h1*1.5;
    font-family      : 'Roboto Mono';
  }

  p {
    color: @papaya-whip;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono';
}

div,
p {
  font-family: 'Roboto Mono';
}

.fa {
  display: inline-block;
  color  : @colombia-blue;
}

.btn-danger {
  color           : @colombia-blue;
  background-color: @desire;
  border-color    : darken(@desire, 10%);

  &:focus {
    color           : @colombia-blue;
    background-color: @desire;
    border-color    : darken(@desire, 10%);
  }

  &:hover {
    color           : @colombia-blue;
    background-color: @desire;
    border-color    : darken(@desire, 10%);
  }
}

// Blinking cursor====================================================
.typed-cursor {
  opacity          : 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation   : blink 0.7s infinite;
  animation        : blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media (max-width: @screen-sm-max) {
  .cover {
    .text-intro {
      font-size  : @font-size-h1 * 0.9;
      color      : @desire;
      font-family: 'Roboto Mono';
    }

    .typed-cursor {
      opacity          : 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation   : blink 0.7s infinite;
      animation        : blink 0.7s infinite;
      color            : @desire;
      font-size        : @font-size-h1 * 0.9;
      font-family      : 'Roboto Mono';
    }
  }

  .title,
  h1 {
    font-size: @font-size-h1 * 0.9;
  }

  .icon {
    // width         : 100%;
    // padding-bottom: 100%;
    display      : inline-block;
    font-size    : 6rem;
    color        : @desire;
    margin-top   : 10px;
    margin-bottom: 10px;
  }
}
